@charset "UTF-8";
.major .news {
  top: 87px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: white;
}
.major .news .container {
  margin: 0 auto;
  max-width: 1280px;
}
.major .news .container .row .col-xs-3 {
  border-right: 2px solid #BB2028;
  height: 130px;
}
.major .news .container .row .col-xs-3:first-of-type {
  border-left: 2px solid #BB2028;
}

.cont_wrapper {
  width: 1280px;
  height: 130px;
}

.news {
  height: 130px;
}

.news_title {
  font-family: "Tahoma", sans-serif;
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 0;
  font-weight: 700;
}

.news_text {
  font-family: "Tahoma", sans-serif;
  font-size: 14px;
}

.default_color {
  color: black;
}

a.default_color:hover {
  color: black;
}

.logo {
  background-color: #aeaeae;
  height: 130px;
}

.time {
  color: #BB2028;
  padding-top: 10px;
}

.news_center {
  max-width: 1820px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.new_num_1, .new_num_2, .new_num_3 {
  background-color: #E8E9E9;
  padding: 22px 20px;
  min-height: 173px;
}

.lang-panel {
  float: right;
}

.news-mega-title {
  float: left;
  cursor: pointer;
}

.active-lang, .inactive-lang {
  display: inline-block;
  cursor: pointer;
}

.news_text {
  display: block;
  padding-top: 11px;
}

.new-link {
  font-size: 17px;
  color: black;
  text-decoration: none;
  max-height: 51px;
  overflow: hidden;
  display: inline-block;
}
.new-link:hover {
  text-decoration: none;
}

@font-face {
  font-family: "Proxi";
  /* Имя шрифта */
  src: url(fonts/ProximaNova-Regular.ttf);
  /* Путь к файлу со шрифтом */
}
* {
  font-family: "Proxi";
}

.navbar {
  background-color: #BB2028;
  margin-bottom: 5px;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  border-radius: 0;
  z-index: 2;
}

.navbar_option {
  padding: 16px 15px 16px 15px;
  font-weight: 400;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}
.navbar_option:hover {
  text-decoration: none;
  color: #fff;
}
.navbar_option:visited {
  text-decoration: none;
  color: #fff;
}
.navbar_option:focus {
  text-decoration: none;
  color: #fff;
}

.navbar_cell {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 27px;
}

.navbar_cell:first-of-type, .navbar_cell:nth-of-type(2), .navbar_cell:nth-of-type(3) {
  text-align: left;
}

.navbar_cell:nth-of-type(5), .navbar_cell:last-of-type {
  text-align: right;
}

.navbar_inner {
  height: 87px;
  max-width: 1820px;
  margin: 0 auto;
}

.navbar_option:hover {
  text-decoration: underline;
  font-weight: 700;
}

.navbar-toggle {
  background-color: #BB2028;
  z-index: 3000;
  border: 1px solid #fff;
  right: 2%;
  position: fixed;
  top: 164px;
}

.icon-bar {
  background-color: #fff;
}

#bs-example-navbar-collapse-1 {
  z-index: 2000;
}

.text_about {
  text-align: justify;
  display: inline-block;
  color: #9D9E9D;
  max-width: 485px;
  font-size: 17px;
}

.sidebar_wrapper {
  padding-left: 0;
}

.content_center {
  max-width: 1820px;
  margin: 0 auto;
}

ul.slick-dots li button:before {
  font-size: 0;
  color: #fff;
  border: 2px solid #9D9E9D;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  padding: 1px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  background-color: #9D9E9D;
  opacity: 1;
}

.clear-fix {
  clear: both;
}

.slick-dots {
  text-align: left;
}

.bonus-text {
  display: block;
  font-size: 17px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 30px;
}

.rating {
  width: 100%;
}
.rating * {
  font-size: 17px;
}

th {
  color: #b7b7b7;
}

.score {
  width: 8%;
  text-align: left;
}

tr td:last-of-type {
  text-align: left;
}

.place {
  width: 13%;
  padding-left: 4%;
  padding-top: 37px;
  font-size: 20px;
}

.company_name {
  width: 44%;
  padding-left: 0;
  padding-top: 37px;
  font-size: 20px;
}

.attention {
  width: 14%;
  padding-top: 37px;
  font-size: 20px;
}

.monthly_changing {
  padding-top: 37px;
  font-size: 20px;
}

.score {
  padding-top: 37px;
  font-size: 20px;
}

tr:nth-of-type(odd) {
  background-color: #eaeaea;
}

tr {
  border-left: 6px solid #eaeaea;
}

td {
  padding-top: 11px;
  padding-bottom: 11px;
}

td:first-of-type {
  padding-left: 4%;
}

td:nth-of-type(2) {
  padding-left: 0;
}

td:nth-of-type(4) img {
  text-align: center;
}

td img {
  max-height: 14px;
}

.description {
  display: none;
  height: 100px;
  width: 200px;
  content: "Отчет сдан с опозданием";
}

td:nth-child(3):hover .description {
  position: absolute;
  z-index: 9999;
  top: 500px;
  left: 500px;
}

.column_head:nth-of-type(2) {
  margin-left: 31px;
}

.table_wrapper {
  /* height: 678px;
   overflow-y: scroll;*/
  padding-left: 30px;
}

.content_center .col-md-8 {
  padding-right: 0;
}

.tip {
  position: relative;
  cursor: pointer;
}

.tip:before {
  display: block;
  position: absolute;
  content: attr(data-title);
  background-color: white;
  border: 1px solid gray;
  text-align: center;
  width: 237px;
  border-radius: 0;
  left: -164px;
  margin-top: 13px;
  padding: 0px 0px;
  font-size: 15px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .7s;
  -webkit-transition: opacity .7s;
  -o-transition: opacity .7s;
  -moz-transition: opacity .7s;
}

.tip:hover:before {
  opacity: 1;
  visibility: visible;
}

tr td:nth-of-type(4) {
  width: 3%;
}

.search-bar {
  display: inline-block;
  position: relative;
  padding-left: 27px;
  outline: none !important;
}

.head-search {
  display: inline-block;
}

.glass {
  background-image: url(/images/glass1.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none !important;
  position: absolute;
  top: 4px;
  left: 33px;
}

.inp-area {
  border: 2px solid #A6A8AB;
  padding: 3px;
  padding-bottom: 0px;
  padding-left: 28px;
  outline: none !important;
}

th, td {
  height: 65px;
}

.score {
  width: 8%;
}

.attention-img {
  position: absolute;
  left: -35px;
  top: -2px;
  max-height: 84px;
  width: 7px;
}

.alert-time::before {
  background-image: url(/images/attention.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.alert-time {
  position: relative;
}

.author {
  display: inline-block;
  text-align: left;
  color: #fff;
}

.media, .media:hover, .media:focus, .media:active, .media:visited {
  text-decoration: none;
  color: #fff;
}

.media_wrapper {
  display: inline-block;
}

footer {
  background-color: #aeaeae;
  padding: 13px 0;
  font-size: 17px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
}

footer span {
  color: #fff;
}

footer .container {
  padding: 0;
}
footer .container .row {
  max-width: 1020px;
  margin: 0 auto;
}
footer .container .row .col-xs-12 {
  padding: 0;
}

.media_wrapper {
  float: right;
}

/*.media:first-of-type {
  margin-right: 50px;
}*/
.footer-inner {
  max-width: 1820px;
  margin: 0 auto;
}

.social-loco {
  width: 26px;
  border-radius: 21%;
  margin-right: 22px;
}

.connection {
  text-decoration: underline;
}
.connection:hover {
  text-decoration: underline;
}

.major {
  max-width: 1820px;
  margin: 0 auto;
}

.column_head {
  font-family: "Tahoma", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}

.content {
  margin-top: 341px;
  /*height: 620px;
  overflow: hidden;;*/
}

.slick-slide:focus {
  outline: none !important;
}

.max1820 {
  max-width: 1820px;
  background-color: #fff;
}

.news_center .col-xs-4:first-of-type {
  padding-left: 0;
}
.news_center .col-xs-4:last-of-type {
  padding-right: 0;
}

.news-mega-title {
  font-size: 26px;
}

.lang-panel {
  font-size: 20px;
}

.active-lang {
  color: #BB2028;
}

.new-lang {
  padding-top: 33px;
}

@media all and (max-width: 1320px) {
  .text_about {
    font-size: 14px;
  }
}
@media all and (max-width: 1250px) {
  .news_title {
    font-size: 18px;
  }
}
@media all and (max-width: 1192px) {
  .news {
    background-color: #fff;
    height: 243px;
  }

  .news_center .col-xs-3 {
    height: 160px !important;
  }

  .new-link {
    font-size: 15px;
    max-height: 43px;
  }
}
@media all and (max-width: 991px) {
  .content {
    margin-top: 252px;
    height: auto;
  }

  .news {
    top: 0;
    height: 226px;
  }

  .news_center .col-xs-3 {
    height: 163px !important;
  }

  .slick-slide img {
    margin: 0 auto;
  }

  .column_head:nth-of-type(2) {
    margin-left: 0;
  }

  .slide {
    width: 100%;
  }

  .time {
    padding-top: 0;
  }

  .navbar_cell {
    text-align: justify !important;
  }

  .col-xs-2 {
    width: auto;
  }

  .navbar_option {
    font-size: 19px;
  }

  .navbar_inner {
    height: 66px;
  }

  .navbar_cell {
    padding-top: 7px;
  }

  .major .news {
    top: 39px;
  }

  .slick-dots {
    text-align: center;
  }

  .sidebar {
    margin-bottom: 20px;
    margin-top: 46px;
    margin-top: 20px;
  }

  .text_about {
    max-width: 100%;
    font-size: 17px;
  }

  .sidebar_wrapper {
    padding-right: 0;
  }

  .table_wrapper {
    padding-left: 0;
  }
}
@media all and (max-width: 768px) {
  .content {
    margin-top: 166px;
  }

  .navbar_option {
    display: block;
    width: 100%;
  }

  .navbar_cell {
    padding-top: 0;
  }

  .news {
    height: 200px;
  }
  .news .container {
    border-bottom: 1px solid #BB2028;
  }

  .new-link {
    font-size: 12px;
    max-height: 50px;
  }

  .navbar-toggle {
    top: -7px;
  }

  .major .news {
    top: 0;
  }

  .new-lang {
    padding-top: 0;
  }

  .lang-panel {
    padding-right: 63px;
  }

  .sidebar {
    margin-top: 0;
  }

  .rating * {
    font-size: 15px;
  }

  td:first-of-type {
    padding-left: 1%;
  }

  .copy-name {
    width: 59%;
  }

  .attention-img {
    left: 20px;
  }

  .content .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
@media all and (max-width: 700px) {
  .news {
    display: none;
  }

  .content {
    margin-top: 0;
  }

  .navbar {
    top: 0;
    z-index: 2;
  }
}
@media all and (max-width: 360px) {
  .column_head {
    font-size: 28px;
  }

  .navbar-toggle {
    top: -5px;
  }
}

/*# sourceMappingURL=style.css.map */
